body {
    overflow-x: hidden;
    background: #222;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

h3 {
    margin: 5px 0;
}

.main-nav-el h1 {
    margin: 5px;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    animation: gold-white 0.3s infinite;
}

.main-nav-el h1 i {
    transform: rotate(-3deg);
    color: #fbad50;
    animation: white-gold 0.3s infinite;
}

.main-nav-el h1 small {
    color: #888888;
    animation: silver-white 0.5s infinite;
}

@keyframes silver-white {
    0% {
        color: #888888;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #888888;
    }
}

.a-right {
    animation: blue-white 800ms infinite;
}

@keyframes blue-white {
    0% {
        color: #fff;
        background: #5bc0de
    }
    50% {
        color: #5bc0de;
        background: #fff;
    }
    100% {
        color: #fff;
        background: #5bc0de
    }
}

@keyframes gold-white {
    0% {
        color: #fff;
    }
    50% {
        color: #fbad50;
    }
    100% {
        color: #fff;
    }
}

@keyframes white-gold {
    0% {
        color: #fbad50;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #fbad50;
    }
}

nav {
    padding: 5px 15px 5px 0;
}

.navbar-brand img {
    height: 50px;
    margin-top: -15px;
}

.nav li a {
    color: #fbad50 !important;
}

.nav li a:hover {
    color: #fff !important;
}

footer {
    background: #fff;
    border-top: 2px solid #aaaaaa;
    background: #222;
}

footer ul {
    margin: 5px 0;
    color: #fff;
    padding: 10px 30px;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer ul li p {
    font-size: 12px;
}

.label {
    font-size: 12px !important;
}

.main {
    position: relative;
    margin-top: 60px;
    padding: 10px 10px 5px 10px;
    height: 92vh;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.aside {
    display: none;
    min-height: 94vh;
    height: auto;
}

.h-right {
    background: rgba(0, 0, 0, 0.6);
    width: 55px;
    height: 150px;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.h-left {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    width: 55px;
    height: 150px;
    padding: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.side-arrow-holder img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-filter: invert(60%);
    filter: invert(60%);
    margin: 0 auto;
}

.side-arrow-holder img:hover {
    cursor: pointer;
    -webkit-filter: invert(90%);
    filter: invert(90%);
    transition: all 0.3s;
}

.panel {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    width: 100%;
    height: 100%;
}

.comment-panel {
    height: auto;
    background: transparent;
}

.comment-panel i {
    font-size: 16px;
    color: #fbad50;
}

.comment-panel h3 span {
    font-family: 'Nunito', sans-serif;
    animation: gold-white 0.8s infinite;
}

.q_1_100 {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    display: block;
    float: left;
    box-sizing: border-box;
    width: 2%;
    height: 4%;
}

.q_1_100:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.network {
    position: relative;
}

.banner {
    display: block;
}

.preview {
    position: relative;
}

.preview:hover {
    cursor: pointer;
    animation: jingle 0.6s infinite;
}

@keyframes jingle {
    0% {
        transform: scale(1.05) rotate(-3deg);
    }
    50% {
        transform: scale(0.95) rotate(3deg);
    }
    100% {
        transform: scale(1.05) rotate(-3deg);
    }
}

.preview_container {
    position: absolute;
    width: 350px;
    height: 350px;
    background: transparent;
    box-sizing: border-box;
    display: none;
    transform: translate(0, 0);
}

.preview_container img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.card {
    background: #fff;
    box-shadow: 5px 5px 15px #575757;
    border-radius: 8px;
    width: 24%;
    height: 35vh;
    margin: 1vh 0.5%;
    float: left;
    position: relative;
}

.card:hover {
    transform: scale(1.08);
    transition: 1s all;
    cursor: pointer;
}

.card-header {
    width: 100%;
    height: 48%;
}

.card-header img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .circle-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .circle-image img {
    height: 50px;
    width: 50px;
    margin: 0 5px;
    float: left;
}

.card .circle-image .ribon {
    height: 70px;
    width: 50px;
    margin: 0 5px;
    float: left;
}

hr {
    margin: 5px 0 8px 0;
}

.card .copy {
    padding: 35px 10px 5px 10px;
}

.card p {
    margin: 3px 0;
}

.card p span {
    max-width: 100%;
    word-break: break-all;
}

.shake_it {
    animation: small-jingle 0.2s infinite;
}

@keyframes small-jingle {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}
